<div class="bz-settings-page">
  <div class="container">
    <h2 class="bz-title">
      Settings
    </h2>
    <div class="messages-content settings-content">
      <div class="bz-tabs-section">
        <div class="nav bz-navbar row" role="tablist">
          <div class="btn-group col-xs-4 col-md-2">
            <a href="#t1" aria-controls="t1" role="tab" data-toggle="tab" data-select-like-a-boss="1" aria-expanded="true" class="bz-button bz-tab active">Currency</a>
          </div>
          <div class="btn-group col-xs-5 col-md-2">
            <a href="#t2" aria-controls="t2" role="tab" data-toggle="tab" data-select-like-a-boss="1" aria-expanded="true" class="bz-button bz-tab">Notifications</a>
          </div>
        </div>

        <div class="tab-content container">
          <div role="tabpanel" class="tab-pane active" id="t1">
            <div class="row wlt_search_results grid_style">
              <%= render 'settings_currency_tab'%>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="t2">
            <div class="row wlt_search_results grid_style">
              <!--RENDER SLIDER-->
              <%= semantic_form_for "notification_permit", url: set_notification_permit_path, :html => {:class => 'validate-form notifications-form', role: :form, 'data-model' => 'user', :'data-type' => 'json'} do |f| %>
                <div class="checkbox">
                  <% change_item =  @notification_permit.change_item %>
                  <%= f.check_box :change_item, checked: change_item %>
                  <%= f.label 'change_item', 'Activities on offers for buyers and sellers on Quick Post items', class: "light" %>
                </div>
                <div class="checkbox">
                  <% win_item =  @notification_permit.win_item %>
                  <%= f.check_box :win_item, checked: win_item %>
                  <%= f.label 'win_item', 'Messages from group members', class: "light" %>
                </div>
                <div class="checkbox">
                  <% close_item =  @notification_permit.close_item %>
                  <%= f.check_box :close_item, checked: close_item %>
                  <%= f.label 'close_item', 'Closing Bids', class: "light" %>
                </div>
                <div class="btn-area">
                  <button class="bz-oval-btn mc">
                    Accept
                  </button>
                </div>
              <% end %>
              <!--RENDER SLIDER-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>