<% @item = locals[:item] %>
<div class="panel panel-default" id="MyFeedback" style="">
  <div class="panel-heading">Feedback</div>
  <div class="panel-body" id="AuthorSingleFeedback">
    <%= semantic_form_for Feedback.new, remote: true, :html => {:class => 'validate-form', role: :form, 'data-model' => 'feedback', :'data-type' => 'json'} do |f| %>
        <h3>Leave Feedback</h3>

        <p>Complete the fields below to leave feedback for this listing and user.</p>
        <hr>
        <div class="form-group field_wrapper">
          <label>Feedback Title</label>
          <%= f.input :item_id, :as => :hidden, :input_html => {:value => @item.id} %>
          <%= f.input :title, :label => false, input_html: {class: " form-control", placeholder: "Title"} %>
        </div>
        <div class="form-group field_wrapper">
          <label>Feedback Description</label>
          <%= f.input :text, :label => false, input_html: {class: "form-control", placeholder: "Description"} %>
        </div>
        <hr>
        <div class="col-md-4">
          My Rating
        </div>
        <div class="col-md-6 rating-big">
          <%= rating_for @item.user, "seller", :half_show => true, :disable_after_rate => false %>
        </div>
        <div class="clearfix"></div>
        <hr>
        <button class="btn btn-lg btn-warning" type="submit">Submit Feedback</button>
    <% end %>
    <hr>
    <%= link_to 'Back', :back, class: 'btn  btn-default pull-right' %>
  </div>
</div>
