<div class="hidden-xs bz-dashboard sticked">
  <div class="container">

    <div class="row">
      <ul class="nav nav-pills pull-left accountdetails">
        <% if current_user %>
          <li>
            <%= form_for current_user, method: :patch, remote: true do |f|%>
              <% currency = current_user.currency.name if current_user.currency %>
              <select class="selectpicker bz-country-select" data-width="fit" name="user[currency_id]">
                <option <%= 'selected="selected"' if currency == 'USD' %> value="<%= Currency.find_by(name: 'USD').id %>" data-content='<span class="flag-icon flag-icon-us"></span>'>English</option>
                <option <%= 'selected="selected"' if currency == 'CAD' %> value="<%= Currency.find_by(name: 'CAD').id %>" data-content='<span class="flag-icon flag-icon-ca"></span>'>Canada</option>
                <option <%= 'selected="selected"' if currency == 'EUR' %> value="<%= Currency.find_by(name: 'EUR').id %>" data-content='<span class="flag-icon flag-icon-eu"></span>'>Europe</option>
                <option <%= 'selected="selected"' if currency == 'GBP' %> value="<%= Currency.find_by(name: 'GBP').id %>" data-content='<span class="flag-icon flag-icon-gb"></span>'>Great Britain</option>
              </select>
            <% end %>
          </li>
        <% end %>
        <li class="">
          <%= link_to 'Help', help_path, class: "bz-dashboard-btn ua7" %>
        </li>
      </ul>
      <ul class="nav nav-pills pull-right accountdetails">
        <% if current_user %>
            <li class="">
              <%= link_to "My Account", account_dashboard_path, class: "bz-dashboard-btn" %>
            </li>
            <li class="">
              <%= link_to "Following (#{current_user.followed_items.count})", browse_path(following: true), class: "bz-dashboard-btn" %>
            </li>
            <li>
              <%= link_to account_messages_path, class: 'bz-dashboard-btn bz-messages-btn' do%>
                <% new_messages_count = current_user.received_messages.news.count %>
                <% if new_messages_count > 0 %>
                  <div class="messages-counter">
                    <div class="count unread_msg_counter">
                      <%= new_messages_count %>
                    </div>
                  </div>
                <% end %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97 97" width="512" height="512"><path d="M85.3 12.8H11.3C5 12.8 0 17.8 0 24.1v49.2c0 5.9 5 10.9 11.3 10.9h74.3c6.3 0 11.3-5 11.3-11.4V24.1C96.6 17.8 91.6 12.8 85.3 12.8zM81.1 21.2L48.3 48.5 16.8 21.2H81.1zM85.3 75.8H11.3c-1.7 0-2.9-1.3-2.9-2.9V25l37 32.4c0.8 0.8 1.7 0.8 2.9 0.8 0.8 0 2.1-0.4 2.5-0.8L88.2 26.2V72.9C88.2 74.6 86.9 75.8 85.3 75.8z" fill="#FFF"/></svg>
              <% end %>
            </li>
            <li class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 510 510"><path d="M255 510c28.1 0 51-22.9 51-51H204C204 487.1 227 510 255 510zM420.8 357V216.8c0-79-53.5-142.8-127.5-160.6V38.3C293.3 17.9 275.4 0 255 0c-20.4 0-38.2 17.9-38.2 38.3V56.1c-73.9 17.9-127.5 81.6-127.5 160.7V357l-51 51v25.5h433.5V408L420.8 357zM369.8 382.5h-229.5V216.8C140.3 153 191.3 102 255 102s114.8 51 114.8 114.8V382.5z" fill="#FFF"/></svg>
            </li>
            <li class="">
              <a class="bz-dashboard-btn name dropdown-toggle">
                <span class="avatar <%= ' active' if current_user.avatar_url.present? %>">
                  <%= image_tag current_user.avatar_url %>
                </span>
                <%= current_user.first_name + ' ' + current_user.last_name%></a>
              <div class="dropdown-menu">
                <div class="user-info">
                  <div class="avatar <%= ' active' if current_user.avatar_url.present? %>">
                    <%= image_tag current_user.avatar_url %>
                  </div>
                  <div class="name">
                    <span>Welcome,</span>
                    <%= current_user.first_name + ' ' + current_user.last_name%>
                  </div>
                </div>
                <!-- <a class="bz-dashboard-btn">Balance: <%#= current_user.get_balance %></a> -->
                <%= link_to 'Settings', settings_path, class: "bz-dashboard-btn" %>
                <%#= link_to "Following (#{current_user.followed_items.count})", browse_path(following: true), class: "bz-dashboard-btn" %>
                <%= link_to 'Transactions', transactions_path, class: "bz-dashboard-btn" %>
                <%= link_to 'Feedback', account_feedback_service_path, class: "bz-dashboard-btn" %>
                <%#= link_to 'Manage Account', dashboard_path, class: "bz-dashboard-btn" %>
                <%= link_to 'Security', security_path, class: "bz-dashboard-btn" %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "bz-dashboard-btn" %>
              </div>
            </li>
        <% else %>
            <li class="hidden-xs">
              <%= link_to 'Login', root_path(anchor: "sign_section"), class: "bz-dashboard-btn ex-main-link" %>
            </li>
        <% end %>
      </ul>

      <!-- <div class="navbar-inner">
        <ul class="nav nav-pills">
          <li class="MyLocationLi">
            <a href="javascript:void(0);" onclick="GMApMyLocation();" data-toggle="modal" data-target="#MyLocationModal">
              <div class="flag flag-af wlt_locationflag"></div>
              Change Location
            </a>
          </li>
        </ul>
      </div> -->

    </div>

  </div>
</div>
